/* Navbar */
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-color: #242424;
    border-bottom-color: darkred;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
}

.search-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    outline: none;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.pack-open-button {
    padding: 10px;
    background-color: #7a84aa;
    color: #292c42;
    border: 1px solid #ccc;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
    outline: none;
}

nav div.flex-shrink-0 {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

nav div.flex-shrink-0 a {
    text-decoration: none;
}

nav div.flex-shrink-0 img.logo {
    max-width: 100%;
}

nav div.block {
    display: none;
}

@media (max-width: 767px) {
    nav div.block {
        display: block;
    }

    nav button {
        display: flex;
        align-items: center;
        padding: 8px 12px;
        border: 1px solid #f00;
        border-radius: 4px;
        color: #f00;
        cursor: pointer;
    }

    nav button:hover {
        color: #fff;
        border-color: #fff;
    }

    nav button svg {
        fill: currentColor;
        height: 1.5rem;
        width: 1.5rem;
    }
}

